<%if(!currentUser) { %>
	<div class="bottombar bottombar-overlay fixed">
		<div class="container">
			<div class="stats" id="wins"><i class="fas fa-trophy"></i>1</div>
			<div class="stats" id="winrate">winrate: 25%</div>
			<div class="stats" id="games">games: 4</div>
		</div>
	</div>
<% } %>