<% if(currentUser) { %>
	<div class="bottombar bottombar-overlay fixed">
		<div class="container">
			<div class="stats">
				<i class="fas fa-trophy"></i>
				<span id="wincount">1</span>
			</div>
			<div class="stats">
				winrate: <span id="winrate">25</span>%
			</div>
			<div class="stats">
				games: <span id="gamecount">4</span>
			</div>
		</div>
	</div>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			getResults('<%= currentUser.username %>');
			getWinCount();
			getWinRate();
			getGameCount();
		});
	</script>
<% } %>