<div class="section hero">
<div class="container">
  <div class="row">
    <h4>Log your cEDH results. Track your winrate. Grow as a player.</h4>
    <h4><strong>Be the God of the Meta</strong></h4>
  </div>
</div>
</div>