<div class="player-badge">


<i class="fas fa-book"></i>
<i class="fas fa-clipboard-list"></i>
<i class="fas fa-clone"></i>
<i class="fas fa-hand-holding"></i>
<i class="fas fa-hands"></i>
<i class="fas fa-hand-paper"></i>
<i class="fas fa-handshake"></i>
<i class="fas fa-tag"></i>

</div>