<form action="/decks" method="post">
	<h5>Add decklist</h5>
	<label for="decklist">Deck name</label>
	<input type="text" name="deck[name]" id="decklist" placeholder="creativename.dec">
	<br>
	<br>
	<label for="tappedout">Tappedout URL</label>
	<input type="text" name="deck[tappedout]" id="tappedout" placeholder="tappedout.com/creativename">
	<br>
	<br>
	<input type="submit" class="button-primary">
</form>