<div class="player-badge">
	<div class="row">
		<div class="u-full-width">
			<i class="fas fa-user"></i><select class="" name="" id="playerpilot">
				<option value=""></option>
			</select>
		</div>
		<div class="u-full-width">
			<i class="fas fa-book"></i><select class="" name="" id="">
					<option value=""></option>
			</select>
		</div>

		<div class="u-full-width">
			<i class="fas fa-clone"></i><input type="number" name="" min="0" max="7" value="7">
		</div>

		<div class="five columns">
			<input type="checkbox" name="" value="">
		</div>

		<div class="five columns">
			<input type="checkbox" name="" value="">
		</div>

	</div>
</div>