<% players += 1; %>
<tr>
	<td>
		<select class="u-full-width" name="result[player]">
			<% for(var i = 0; i < allPlayers.length; i++) { %>
				<option value="<%= allPlayers[i].username %>"><%= allPlayers[i].username %></option>
			<% } %>
		</select>
	</td>
	<td>
		<select class="u-full-width" name="result[deck]">
			<% for(var i = 0; i < allDecks.length; i++) { %>
				<option value="<%= allDecks[i].name %>"><%= allDecks[i].name %></option>
			<% } %>
		</select>
	</td>
	<td><input type="checkbox" name="result[starter]" value="true"></td>
	<td><input type="checkbox" name="result[winner]" value="true"></td>
</tr>