<% include ./partials/header %>

<div class="section match">
	<div class="container">
		<h1>RESTful Routes API</h1>
		<table class="match-result u-full-width">
		<tr>
			<th>Name</th>
			<th>Player</th>
			<th>Deck</th>
			<th>Match</th>
			<th>Goldfish</th>
		</tr>
		<tr>
			<td>Index</td>
			<td><a href="/api/players">players</a></td>
			<td><a href="/api/decks">decks</a></td>
			<td><a href="/api/results">results</a></td>
			<td><a href="/api/results">results</a></td>
		</tr>
		<tr>
			<td>New</td>
			<td><a href="/api/players/new">players/new</a></td>
			<td><a href="/api/decks/new">decks/new</a></td>
			<td><a href="/api/results/new">matches/new</a></td>
			<td></td>
		</tr>
		<tr>
			<td>Create</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Show</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Edit</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Update</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Destroy</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</table>
	</div>
</div>


<% include ./partials/footer %>