<% include ./partials/header %>

<div class="section">
	<div class="container faqs">
		<h2>What are Metagods</h2>
		<p>One day it may be you, god of the meta. Metagods is a tool to help track everything you need to know in order to best support your growth as a competitive EDH / Commander player.</p>

		<h2>How does it work</h2>
		<p>Anyone in your playgroup can log match results at any time, be it 4-player free-for-all or goldfish. Other formats and modes of play are not as of yet supported.</p>

		<h2>Seems like a lot of effort</h2>
		<p>It is a lot of effort. Growth is a marathon, not a sprint. Lucky for you, it is made easy and fun with pragmatic shortcuts, such as “metagame matches” and useful information, keeping you coming back.</p>

		<h2>Metagame?</h2>
		<p>The playgroup and their deck choices can be stored as a metagame, so that you don’t have to enter the same details every time when submitting a result slip.</p>

		<h2>Wait, do I need to submit my decklist for every result?</h2>
		<p>No, you don’t. When you’ve once connected metagods to your tapped out decklist, you can select your deck from your favourites.</p>

		<h2>So tappedout.net is involved?</h2>
		<p>Sort of. Tappedout has a good working solution for card list specifics. Metagods offers a good working solution for game statistics. The web apps are synergistic, and with some ingenuity they are also compatible.</p>

		<h2>Sounds cool. Where do I sign up?</h2>
		<p>On our <a href="/register">register form</a>!</p>
	</div>
</div>

<% include ./partials/footer %>