<% include ./partials/header %>

<div class="section get-started">
	<div class="container">
		<h1>Get Started</h1>
		<form action="/register" method="get">
		<input type="submit" value="New Player">
		</form>

		<form action="/decks/new" method="get">
		<input type="submit" value="New Deck">
		</form>

		<form action="/results/new" method="get">
		<input type="submit" value="New Result">
		</form>
	</div>
</div>

<div class="section filler">
	<div class="row">
		<h4><i>Kyllä löytyy t markus</i></h4>
	</div>
</div>

<div class="section about">
	<div class="container">
		<div class="row">
			<div class="three columns">
			<img class="img-fluid" src="https://i.imgur.com/RsjbhOm.png">
			</div>
			<div class="nine columns">
			<h1>Metagods</h1>
			<p>For cEDH players with an interest to grow in the game. Register your deck, set up a meta, and get playing (and logging results)!</p><p>At Metagods you will find all the data on your performance. Your personal all-time winrate, the winrate of your deck on any given day, successfulness of a particular deck in a particular meta piloted by a particular player... You name it!</p>
			</div>
		</div>
	</div>
</div>

<div class="section filler">
	<div class="row">
		<h4><i>Psykoosit tulilla t rynde</i></h4>
	</div>
</div>



<% include ./partials/footer %>