<form id="newMatchForm" action="/matches" method="post">
	<input type="number" value="4" name="numberOfPlayers" hidden>
	<label for="turns">Winning Turn:</label>
	<input type="number" value="3" min="0" id="turns" name="result[turns]">
	<div class="input-extend" onclick="document.getElementById('turns').value++;">
		<i class="fas fa-plus-circle" style="color:green;"></i>
	</div>
	<div class="row">
		<% include partials/playermatchrow %>
		<% include partials/playermatchrow %>
		<% include partials/playermatchrow %>
		<% include partials/playermatchrow %>
	</div>
</form>

<iframe name="formResponse" hidden><p>Your browser does not support iframes.</p></iframe>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		fillFormWithCookie();
	});
</script>