<form id="newMatchForm" action="/matches" method="post">
	
	<div class="row">
		<div id="">
			<% include partials/playermatchrow %>
		</div>
		<div id="">
			<% include partials/playermatchrow %>
		</div>
		<div id="">
			<% include partials/playermatchrow %>
		</div>
		<div id="">
			<% include partials/playermatchrow %>
		</div>
		<div id="next-player-target">
			<button type="button" class="round-button primary margined" onclick="addPlayer();">
				<i class="fas fa-plus" style="color: white;"></i>
			</button>
		</div>
	</div>
	<div class="form-meta-input">
		<input type="number" value="4" name="numberOfPlayers" hidden>
		<label for="turns">Winning Turn:</label>
		<input type="number" min="0" id="turns" name="result[turns]" required>
		<div class="input-extend" onclick="document.getElementById('turns').value++;">
			<i class="fas fa-plus-circle" style="color:green;"></i>
		</div>
	</div>
</form>

<iframe name="formResponse" hidden><p>Your browser does not support iframes.</p></iframe>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		fillFormWithCookie(4);
	});
</script>