<% include ./partials/header %>


<div class="section">
	<div class="container">
		<button class="button-overlay primary fixed bottom right" form="newMatchForm" value="Submit"><i class="fas fa-clipboard-check fa-2x"></i></button>
		<button class="button-overlay basic fixed bottom left" onclick="saveMatch()"><i class="fas fa-star fa-2x"></i></button>
		<% include newmatchform %>
	</div>
</div>

<% include ./partials/footer %>