<% include ./partials/header %>

<div style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
		<div id="match-help-modal" class="match fixed middle no-display">
			<h3>How to use the match form:</h3>
			<p>In the beginning, enter the setup of the match</p>
			<p>First, select who's playing (and what decks they are playing)</p>
			<p>Second, enter each player's starting hand size. Use the minus button to mulligan</p>
			<p>Third, select the starting player usually determined by dice</p>
			<p>In the end, select a winner and the winning turn!</p>
			<p>Star button: Sets the current players and decks as your default.</p>
			<p>Question button: Opens and closes this help box</p>
			<p>Clipboard button: Submits and publishes the match result</p>
		</div>
	</div>
</div>

<button class="button-overlay primary fixed bottom right" form="newMatchForm" value="Submit">
	<i class="fas fa-clipboard-check fa-2x"></i>
</button>

<button class="button-overlay basic fixed bottom left" onclick="saveMatch()">
	<i class="fas fa-star fa-2x"></i>
</button>



<div style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
      <button class="button-overlay basic fixed bottom middle" onclick="toggle('match-help-modal')">
		<i class="fas fa-question fa-2x"></i>
	</button>
    </div>
  </div>

<div class="section">
	<div class="container">
		<% include newmatchform %>
	</div>
</div>

<% include ./partials/bottombar %>
<% include ./partials/footer %>