<% include ./partials/header %>

<div class="player-badge-card"><% include ./partials/player-badge-card-content %></div>
<div class="player-badge-card"><% include ./partials/player-badge-card-content %></div>
<div class="player-badge-card"><% include ./partials/player-badge-card-content %></div>
<div class="player-badge-card"><% include ./partials/player-badge-card-content %></div>

<% include ./partials/footer %>